h1 {
    color:palegreen;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 100px;
    line-height: 2;
    text-align: center;
}

p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}

body {
    background-image: url("https://media1.tenor.com/images/732c8523a3ce0cc7f80c0301dd8479a5/tenor.gif?itemid=4172627");
    background-color: #cccccc;
   }

